html, body {
  height: 100%;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Hack, monospace;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 12px;
}

/* Custom page CSS
-------------------------------------------------- */
.container .credit {
  margin: 5px 0;
}

code {
  font-size: 80%;
}

a:link {
  color: #FF0000;
  text-decoration: none;
}
a:visited {
  color: #A0A0A0;
  text-decoration: none;
}
a:hover {
  color: #0000FF;
  text-decoration: none;
}

/* pace minimal theme */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* index page */
div.server-stat {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 10px 0px;
  font-size: 10px;
  font-family: arial, monospace;
  line-height: 120%;
  background-color: #080808;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: left;
  clear: left;
  display: block;
}
div.server-stat > pre.stat {
  background-color: #000000;
  color: #A0A0A0;
  font-size: 8px;
  border: none;
  position: relative !important;
  min-height: 30px;
  padding: 5px;
}
div.server-stat > .refresh {
  margin-left: 10px;
  cursor: pointer;
}

/* links page */
div.links {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 10px 0px;
  font-size: 10px;
  font-family: arial, monospace;
  line-height: 120%;
  float: left;
  clear: left;
  display: block;
}
div.links > ul {
  font-size: 12px;
}
div.links > ul > li {
  margin-bottom: 5px;
}
